<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="EFEntityMgr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="EFEntityMgr.Properties.Settings.SOSConnection" connectionString="Data Source=SOSSQLTest;Initial Catalog=SOS;TrustServerCertificate=True; Integrated Security=True" />
 </connectionStrings>
 <system.data>

	<DbProviderFactories>
      <add name="SqlClient Data Provider"
       invariant="Microsoft.Data.SqlClient"
       description=".Net Framework Data Provider for SqlServer"
       type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient" />
    </DbProviderFactories>
		</system.data>
 <applicationSettings>
  <EFEntityMgr.Properties.Settings>
   <setting name="MyName" serializeAs="String">
    <value>Steven Spisak</value>
   </setting>
  </EFEntityMgr.Properties.Settings>
 </applicationSettings>
</configuration>